*.3[dD][sS] filter=lfs diff=lfs merge=lfs -text
*.3[gG]2 filter=lfs diff=lfs merge=lfs -text
*.3[gG][pP] filter=lfs diff=lfs merge=lfs -text
*.7[zZ] filter=lfs diff=lfs merge=lfs -text
*.[aA] filter=lfs diff=lfs merge=lfs -text
*.[aA][aA][cC] filter=lfs diff=lfs merge=lfs -text
*.[aA][dD][pP] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[aA][lL][zZ] filter=lfs diff=lfs merge=lfs -text
*.[aA][pP][eE] filter=lfs diff=lfs merge=lfs -text
*.[aA][pP][kK] filter=lfs diff=lfs merge=lfs -text
*.[aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[aA][rR][jJ] filter=lfs diff=lfs merge=lfs -text
*.[aA][sS][fF] filter=lfs diff=lfs merge=lfs -text
*.[aA][uU] filter=lfs diff=lfs merge=lfs -text
*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs -text
*.[bB][aA][kK] filter=lfs diff=lfs merge=lfs -text
*.[bB][aA][mM][lL] filter=lfs diff=lfs merge=lfs -text
*.[bB][hH] filter=lfs diff=lfs merge=lfs -text
*.[bB][iI][nN] filter=lfs diff=lfs merge=lfs -text
*.[bB][kK] filter=lfs diff=lfs merge=lfs -text
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
*.[bB][tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[bB][zZ]2 filter=lfs diff=lfs merge=lfs -text
*.[bB][zZ][iI][pP]2 filter=lfs diff=lfs merge=lfs -text
*.[cC][aA][bB] filter=lfs diff=lfs merge=lfs -text
*.[cC][aA][fF] filter=lfs diff=lfs merge=lfs -text
*.[cC][gG][mM] filter=lfs diff=lfs merge=lfs -text
*.[cC][lL][aA][sS][sS] filter=lfs diff=lfs merge=lfs -text
*.[cC][mM][xX] filter=lfs diff=lfs merge=lfs -text
*.[cC][pP][iI][oO] filter=lfs diff=lfs merge=lfs -text
*.[cC][rR]2 filter=lfs diff=lfs merge=lfs -text
*.[cC][sS][vV] filter=lfs diff=lfs merge=lfs -text
*.[cC][uU][rR] filter=lfs diff=lfs merge=lfs -text
*.[dD][aA][tT] filter=lfs diff=lfs merge=lfs -text
*.[dD][cC][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][eE][bB] filter=lfs diff=lfs merge=lfs -text
*.[dD][eE][xX] filter=lfs diff=lfs merge=lfs -text
*.[dD][jJ][vV][uU] filter=lfs diff=lfs merge=lfs -text
*.[dD][lL][lL] filter=lfs diff=lfs merge=lfs -text
*.[dD][mM][gG] filter=lfs diff=lfs merge=lfs -text
*.[dD][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][xX] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][tT] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][tT][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][rR][aA] filter=lfs diff=lfs merge=lfs -text
*.[dD][sS]_[sS][tT][oO][rR][eE] filter=lfs diff=lfs merge=lfs -text
*.[dD][sS][kK] filter=lfs diff=lfs merge=lfs -text
*.[dD][tT][sS] filter=lfs diff=lfs merge=lfs -text
*.[dD][tT][sS][hH][dD] filter=lfs diff=lfs merge=lfs -text
*.[dD][vV][bB] filter=lfs diff=lfs merge=lfs -text
*.[dD][wW][gG] filter=lfs diff=lfs merge=lfs -text
*.[dD][xX][fF] filter=lfs diff=lfs merge=lfs -text
*.[eE][cC][eE][lL][pP]4800 filter=lfs diff=lfs merge=lfs -text
*.[eE][cC][eE][lL][pP]7470 filter=lfs diff=lfs merge=lfs -text
*.[eE][cC][eE][lL][pP]9600 filter=lfs diff=lfs merge=lfs -text
*.[eE][gG][gG] filter=lfs diff=lfs merge=lfs -text
*.[eE][oO][lL] filter=lfs diff=lfs merge=lfs -text
*.[eE][oO][tT] filter=lfs diff=lfs merge=lfs -text
*.[eE][pP][uU][bB] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][eE] filter=lfs diff=lfs merge=lfs -text
*.[fF]4[vV] filter=lfs diff=lfs merge=lfs -text
*.[fF][bB][sS] filter=lfs diff=lfs merge=lfs -text
*.[fF][hH] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][aA] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][aA][cC] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][iI] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][vV] filter=lfs diff=lfs merge=lfs -text
*.[fF][pP][xX] filter=lfs diff=lfs merge=lfs -text
*.[fF][sS][tT] filter=lfs diff=lfs merge=lfs -text
*.[fF][vV][tT] filter=lfs diff=lfs merge=lfs -text
*.[gG]3 filter=lfs diff=lfs merge=lfs -text
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[gG][rR][aA][fF][fF][lL][eE] filter=lfs diff=lfs merge=lfs -text
*.[gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[gG][zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.[hH]261 filter=lfs diff=lfs merge=lfs -text
*.[hH]263 filter=lfs diff=lfs merge=lfs -text
*.[hH]264 filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][nN][sS] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
*.[iI][eE][fF] filter=lfs diff=lfs merge=lfs -text
*.[iI][mM][gG] filter=lfs diff=lfs merge=lfs -text
*.[iI][pP][aA] filter=lfs diff=lfs merge=lfs -text
*.[iI][sS][oO] filter=lfs diff=lfs merge=lfs -text
*.[jJ][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG][vV] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][mM] filter=lfs diff=lfs merge=lfs -text
*.[jJ][xX][rR] filter=lfs diff=lfs merge=lfs -text
*.[kK][eE][yY] filter=lfs diff=lfs merge=lfs -text
*.[kK][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[lL][hH][aA] filter=lfs diff=lfs merge=lfs -text
*.[lL][iI][bB] filter=lfs diff=lfs merge=lfs -text
*.[lL][vV][pP] filter=lfs diff=lfs merge=lfs -text
*.[lL][zZ] filter=lfs diff=lfs merge=lfs -text
*.[lL][zZ][hH] filter=lfs diff=lfs merge=lfs -text
*.[lL][zZ][mM][aA] filter=lfs diff=lfs merge=lfs -text
*.[lL][zZ][oO] filter=lfs diff=lfs merge=lfs -text
*.[mM]3[uU] filter=lfs diff=lfs merge=lfs -text
*.[mM]4[aA] filter=lfs diff=lfs merge=lfs -text
*.[mM]4[vV] filter=lfs diff=lfs merge=lfs -text
*.[mM][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[mM][dD][iI] filter=lfs diff=lfs merge=lfs -text
*.[mM][hH][tT] filter=lfs diff=lfs merge=lfs -text
*.[mM][iI][dD] filter=lfs diff=lfs merge=lfs -text
*.[mM][iI][dD][iI] filter=lfs diff=lfs merge=lfs -text
*.[mM][jJ]2 filter=lfs diff=lfs merge=lfs -text
*.[mM][kK][aA] filter=lfs diff=lfs merge=lfs -text
*.[mM][kK][vV] filter=lfs diff=lfs merge=lfs -text
*.[mM][mM][rR] filter=lfs diff=lfs merge=lfs -text
*.[mM][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][bB][iI] filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][vV][iI][eE] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP]3 filter=lfs diff=lfs merge=lfs -text
*.[mM][pP]4 filter=lfs diff=lfs merge=lfs -text
*.[mM][pP]4[aA] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[mM][xX][uU] filter=lfs diff=lfs merge=lfs -text
*.[nN][eE][fF] filter=lfs diff=lfs merge=lfs -text
*.[nN][pP][xX] filter=lfs diff=lfs merge=lfs -text
*.[nN][uU][mM][bB][eE][rR][sS] filter=lfs diff=lfs merge=lfs -text
*.[oO] filter=lfs diff=lfs merge=lfs -text
*.[oO][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[oO][gG][gG] filter=lfs diff=lfs merge=lfs -text
*.[oO][gG][vV] filter=lfs diff=lfs merge=lfs -text
*.[oO][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][aA][gG][eE][sS] filter=lfs diff=lfs merge=lfs -text
*.[pP][bB][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][cC][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][bB] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][eE][aA] filter=lfs diff=lfs merge=lfs -text
*.[pP][gG][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][iI][cC] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][oO][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][oO][tT][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][oO][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][aA] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][aA][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][sS] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][sS][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][sS][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[pP][yY][aA] filter=lfs diff=lfs merge=lfs -text
*.[pP][yY][cC] filter=lfs diff=lfs merge=lfs -text
*.[pP][yY][oO] filter=lfs diff=lfs merge=lfs -text
*.[pP][yY][vV] filter=lfs diff=lfs merge=lfs -text
*.[qQ][tT] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][sS] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=lfs -text
*.[rR][eE][sS][oO][uU][rR][cC][eE][sS] filter=lfs diff=lfs merge=lfs -text
*.[rR][gG][bB] filter=lfs diff=lfs merge=lfs -text
*.[rR][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.[rR][lL][cC] filter=lfs diff=lfs merge=lfs -text
*.[rR][mM][fF] filter=lfs diff=lfs merge=lfs -text
*.[rR][mM][vV][bB] filter=lfs diff=lfs merge=lfs -text
*.[rR][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[rR][zZ] filter=lfs diff=lfs merge=lfs -text
*.[sS]3[mM] filter=lfs diff=lfs merge=lfs -text
*.[sS]7[zZ] filter=lfs diff=lfs merge=lfs -text
*.[sS][cC][pP][tT] filter=lfs diff=lfs merge=lfs -text
*.[sS][gG][iI] filter=lfs diff=lfs merge=lfs -text
*.[sS][hH][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[sS][iI][lL] filter=lfs diff=lfs merge=lfs -text
*.[sS][kK][eE][tT][cC][hH] filter=lfs diff=lfs merge=lfs -text
*.[sS][lL][kK] filter=lfs diff=lfs merge=lfs -text
*.[sS][mM][vV] filter=lfs diff=lfs merge=lfs -text
*.[sS][oO] filter=lfs diff=lfs merge=lfs -text
*.[sS][uU][bB] filter=lfs diff=lfs merge=lfs -text
*.[sS][wW][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[tT][bB][zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][bB][zZ]2 filter=lfs diff=lfs merge=lfs -text
*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[tT][gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][hH][mM][xX] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][lL][zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][cC] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][xX][zZ] filter=lfs diff=lfs merge=lfs -text
*.[uU][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[uU][vV][hH] filter=lfs diff=lfs merge=lfs -text
*.[uU][vV][iI] filter=lfs diff=lfs merge=lfs -text
*.[uU][vV][mM] filter=lfs diff=lfs merge=lfs -text
*.[uU][vV][pP] filter=lfs diff=lfs merge=lfs -text
*.[uU][vV][sS] filter=lfs diff=lfs merge=lfs -text
*.[uU][vV][uU] filter=lfs diff=lfs merge=lfs -text
*.[vV][iI][vV] filter=lfs diff=lfs merge=lfs -text
*.[vV][oO][bB] filter=lfs diff=lfs merge=lfs -text
*.[wW][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[wW][aA][vV] filter=lfs diff=lfs merge=lfs -text
*.[wW][aA][xX] filter=lfs diff=lfs merge=lfs -text
*.[wW][bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
*.[wW][dD][pP] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][aA] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][mM] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text
*.[wW][hH][lL] filter=lfs diff=lfs merge=lfs -text
*.[wW][iI][mM] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][aA] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][vV] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][xX] filter=lfs diff=lfs merge=lfs -text
*.[wW][oO][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[wW][oO][fF][fF]2 filter=lfs diff=lfs merge=lfs -text
*.[wW][vV][xX] filter=lfs diff=lfs merge=lfs -text
*.[xX][bB][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][aA] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][aA][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS][bB] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS][xX] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][tT] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][tT][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[xX][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][mM][iI][nN][dD] filter=lfs diff=lfs merge=lfs -text
*.[xX][pP][iI] filter=lfs diff=lfs merge=lfs -text
*.[xX][pP][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][wW][dD] filter=lfs diff=lfs merge=lfs -text
*.[xX][zZ] filter=lfs diff=lfs merge=lfs -text
*.[zZ] filter=lfs diff=lfs merge=lfs -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.[zZ][iI][pP][xX]  filter=lfs diff=lfs merge=lfs -text
